AccessModifierOffset: -4
BasedOnStyle: Google
ColumnLimit: 0
EmptyLineBeforeAccessModifier: Leave
IncludeBlocks: Merge
IncludeIsMainRegex: '$^'
IndentWidth: 4
SpacesBeforeTrailingComments: 1
SpacesInLineCommentPrefix:
  Minimum: 0
  Maximum: -1
